<div class="tip-input-wrapper">
  <div class="container-bill">
    <h2>Bill</h2>
    <div class="container-bill-input">
      <img src="../../../assets/images/icon-dollar.svg" alt="dollar-sign" />
      <input
        #bill
        type="text"
        inputmode="numeric"
        pattern="\d*"
        placeholder="0"
        (input)="getBill(bill.value)"
        (input)="getTotals()"
      />
    </div>
  </div>

  <div class="container-tip">
    <h2>Select Tip %</h2>

    <!-- display mobile button layout -->
    <div class="container-tip-mobile" *ngIf="displayMobileButtons">
      <div class="container-tip-input">
        <button
          (click)="getTipPercent(5)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          5%
        </button>
        <button
          (click)="getTipPercent(10)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          10%
        </button>
      </div>
      <div class="container-tip-input">
        <button
          (click)="getTipPercent(15)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          15%
        </button>
        <button
          (click)="getTipPercent(25)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          25%
        </button>
      </div>
      <div class="container-tip-input">
        <button
          (click)="getTipPercent(50)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          50%
        </button>
        <input
          #customTip
          type="text"
          inputmode="numeric"
          pattern="\d*"
          placeholder="Custom"
          (input)="getTipPercent(customTip.value)"
          (input)="getTotals()"
        />
      </div>
    </div>

    <!-- display desktop button layout -->
    <div class="container-tip-desktop" *ngIf="displayDesktopButtons">
      <div class="container-tip-input">
        <button
          (click)="getTipPercent(5)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          5%
        </button>
        <button
          (click)="getTipPercent(10)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          10%
        </button>
        <button
          (click)="getTipPercent(15)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          15%
        </button>
      </div>
      <div class="container-tip-input">
        <button
          (click)="getTipPercent(25)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          25%
        </button>

        <button
          (click)="getTipPercent(50)"
          (click)="getTotals()"
          (click)="customTip.value = ''"
        >
          50%
        </button>
        <input
          #customTip
          type="text"
          inputmode="numeric"
          pattern="\d*"
          placeholder="Custom"
          (input)="getTipPercent(customTip.value)"
          (input)="getTotals()"
        />
      </div>
    </div>
  </div>

  <div class="container-people container-bill">
    <h2>Number of People</h2>
    <div class="container-people-input container-bill-input">
      <img src="../../../assets/images/icon-person.svg" alt="person-icon" />
      <input
        #people
        type="text"
        inputmode="numeric"
        pattern="\d*"
        placeholder="0"
        (input)="getNumPpl(people.value)"
        (input)="getTotals()"
      />
    </div>
  </div>
</div>
