@import "../styles.scss";

.app-wrapper {
  width: 100vw;
  height: 100vh;
  background-color: $c-n-light-grayish-cyan;

  @include screen-desktop {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .logo {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 100%;

    @include screen-mobile {
      height: 20vh;
    }

    @include screen-desktop {
      height: 25vh;
    }
  }

  .tip-input-wrapper {
    background-color: $c-n-white;
    border-radius: 2rem 2rem 0 0;

    @include screen-mobile {
      height: 80vh;
      padding: 2rem;
    }

    @include screen-desktop {
      display: flex;
      flex-direction: row;
      justify-content: space-between;

      height: 50vh;
      width: 66vw;
      padding: 3rem;

      border-radius: 1.5rem;
      box-shadow: 0 0 1rem 1rem rgba($color: #000000, $alpha: 0.1);
    }

    .left,
    .right {
      @include screen-desktop {
        width: 48%;
      }
    }
  }
}
